name: CI

on:
  push:
  pull_request:

jobs:
  macos_build:
    runs-on: macos-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4
      
      - name: Update homebrew
        run: /bin/zsh -i -c "brew update && brew upgrade"
        shell: bash
      
      - name: Install LLVM
        run: /bin/zsh -i -c "brew install llvm"
        shell: bash
      
      - name: Install LLD
        run: /bin/zsh -i -c "brew install lld"
        shell: bash

      - name: CMake clang debug configuration
        run: /bin/zsh -i -c "cmake -B Build/Debug -S . -G Ninja -D CMAKE_BUILD_TYPE=Debug -D CMAKE_CXX_COMPILER=/opt/homebrew/opt/llvm/bin/clang++ -D CMAKE_LINKER=/opt/homebrew/opt/lld/bin/lld"
        shell: bash

      - name: CMake clang debug clear
        run: /bin/zsh -i -c "ninja clean_app -C Build/Debug"
        shell: bash
        
      - name: CMake clang debug compilation
        run: /bin/zsh -i -c "ninja -C Build/Debug"
        shell: bash
      
      - name: CMake clang release configuration
        run: /bin/zsh -i -c "cmake -B Build/Release -S . -G Ninja -D CMAKE_BUILD_TYPE=Release -D CMAKE_CXX_COMPILER=/opt/homebrew/opt/llvm/bin/clang++ -D CMAKE_LINKER=/opt/homebrew/opt/lld/bin/lld"
        shell: bash

      - name: CMake clang release clear
        run: /bin/zsh -i -c "ninja clean_app -C Build/Release"
        shell: bash
        
      - name: CMake clang release compilation
        run: /bin/zsh -i -c "ninja -C Build/Release"
        shell: bash

  windows_build:
    runs-on: windows-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Install CMake
        run: Invoke-WebRequest -Uri "https://github.com/Kitware/CMake/releases/download/v4.2.3/cmake-4.2.3-windows-x86_64.zip" -OutFile cmake.zip
        shell: powershell
      
      - name: Extract CMake
        run: Expand-Archive cmake.zip -DestinationPath C:\CMake
        shell: powershell
      
      - name: Add CMake to PATH
        run: echo "C:\CMake\cmake-4.2.3-windows-x86_64\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
        shell: powershell
      
      - name: Install LLVM
        run: Invoke-WebRequest -Uri "https://github.com/llvm/llvm-project/releases/download/llvmorg-21.1.8/LLVM-21.1.8-win64.exe" -OutFile "LLVM-alice.exe"
        shell: powershell

      - name: Extract LLVM
        run: 7z x LLVM-alice.exe -oC:\LLVM
        shell: powershell

      - name: Add LLVM to PATH
        run: echo "C:\LLVM\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
        shell: powershell

      - name: CMake clang debug configuration
        run: cmake -B Build/Debug -S . -G Ninja -D CMAKE_BUILD_TYPE=Debug -D CMAKE_CXX_COMPILER=clang++ -D CMAKE_LINKER=lld
        shell: powershell

      - name: CMake clang debug clear
        run: ninja clean_app -C Build/Debug
        shell: powershell

      - name: Ninja clang debug compilation
        run: ninja -C Build/Debug
        shell: powershell
      
      - name: CMake clang release configuration
        run: cmake -B Build/Release -S . -G Ninja -D CMAKE_BUILD_TYPE=Release -D CMAKE_CXX_COMPILER=clang++ -D CMAKE_LINKER=lld
        shell: powershell

      - name: CMake clang release clear
        run: ninja clean_app -C Build/Release
        shell: powershell

      - name: Ninja clang release compilation
        run: ninja -C Build/Release
        shell: powershell

  linux_build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Update APT
        run: sudo apt-get update -y
        shell: bash

      - name: Upgrade APT
        run: sudo apt-get full-upgrade -y
        shell: bash

      - name: Remove APT
        run: sudo apt-get autoremove -y
        shell: bash
      
      - name: Clear APT
        run: sudo apt-get autoclean -y
        shell: bash

      - name: Fetch signing key
        run: curl -fsSL https://apt.kitware.com/keys/kitware-archive-latest.asc | sudo gpg --dearmor -o /usr/share/keyrings/kitware-archive-keyring.gpg
        shell: bash

      - name: Download signing key
        run: echo "deb [signed-by=/usr/share/keyrings/kitware-archive-keyring.gpg] https://apt.kitware.com/ubuntu/ $(lsb_release -cs) main"
        shell: bash

      - name: Install signing key
        run: sudo tee /etc/apt/sources.list.d/kitware.list >/dev/null
        shell: bash

      - name: Update APT
        run: sudo apt-get update -y
        shell: bash

      - name: Install CMake
        run: sudo apt-get install -y cmake=4.2.3*
        shell: bash

      - name: Install repository
        run: sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
        shell: bash

      - name: Update APT
        run: sudo apt-get update -y
        shell: bash

      - name: Install Gcc
        run: sudo apt-get install -y g++-15
        shell: bash

      - name: Install Vulkan backend
        run: sudo apt-get install -y mesa-vulkan-drivers
        shell: bash

      - name: Install Vulkan tools
        run: sudo apt-get install -y vulkan-tools
        shell: bash

      - name: Install signing key
        run: wget -qO- https://packages.lunarg.com/lunarg-signing-key-pub.asc | sudo tee /etc/apt/trusted.gpg.d/lunarg.asc
        shell: bash

      - name: Install repository
        run: sudo wget -qO /etc/apt/sources.list.d/lunarg-vulkan-$(lsb_release -cs).list http://packages.lunarg.com/vulkan/lunarg-vulkan-$(lsb_release -cs).list
        shell: bash

      - name: Update APT
        run: sudo apt-get update -y
        shell: bash
      
      - name: Install Vulkan frontend
        run: sudo apt-get install -y vulkan-sdk
        shell: bash

      - name: CMake clang debug configuration
        run: cmake -B Build/Debug -S . -G Ninja -D CMAKE_BUILD_TYPE=Debug -D CMAKE_CXX_COMPILER=g++-15 -D CMAKE_LINKER=g++-15
        shell: bash

      - name: CMake clang debug clear
        run: ninja clean_app -C Build/Debug
        shell: bash

      - name: Ninja clang debug compilation
        run: ninja -C Build/Debug
        shell: bash
      
      - name: CMake clang release configuration
        run: cmake -B Build/Release -S . -G Ninja -D CMAKE_BUILD_TYPE=Release -D CMAKE_CXX_COMPILER=g++-15 -D CMAKE_LINKER=g++-15
        shell: bash

      - name: CMake clang release clear
        run: ninja clean_app -C Build/Release
        shell: bash

      - name: Ninja clang release compilation
        run: ninja -C Build/Release
        shell: bash